classes
.class
target
build
.settings
.clover
.classpath
.project
.svn
*.db
.idea

/webapp/src/main/webapp/upload
/webapp/src/main/webapp/uploadFile
src/main/webapp/upload
src/main/webapp/uploadFile

.DS_Store
note
