@charset "UTF-8";

html{height:100%;}
body{width:100%;height:100%;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0; padding:0;}
body,button,input,select,textarea{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover, a:focus{text-decoration:underline;cursor:pointer;color: #2a6496;}
table{border-collapse:collapse;border-spacing:0;}

h1,h2,h3,h4  {
    line-height: 1.25
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
input[type=text],
input[type=password],
textarea,
select {
  outline: none;
  border: 1px solid #95B8E7;
  border-radius: 3px;
  color: #555;
  background-color: #fff;
  text-indent: 3px;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input:focus,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 3px #049cdb;
}

/* ==========================================================================
   price list
   ========================================================================== */
.row { margin:0 -15px; }
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
  position:relative;
  min-height:1px;
  padding:0 15px; margin-right: -1px;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,
.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 { float:left; }
.col-xs-12 { width:100%;}
.col-xs-11 { width:91.66666667%;}
.col-xs-10 { width:83.33333333%;}
.col-xs-9 { width:75%;}
.col-xs-8 { width:66.66666667%;}
.col-xs-7 { width:58.33333333%;}
.col-xs-6 { width:50%;}
.col-xs-5 { width:41.66666667%;}
.col-xs-4 { width:33.33333333%;}
.col-xs-3 { width:25%;}
.col-xs-2 { width:16.66666667%;}
.col-xs-1 { width:8.33333333%
}

/*
@media (min-width:768px) {
  .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
  .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 { float:left; }

  .col-sm-12 { width:100%;}
  .col-sm-11 { width:91.66666667%;}
  .col-sm-10 { width:83.33333333%;}
  .col-sm-9 { width:75%;}
  .col-sm-8 { width:66.66666667%;}
  .col-sm-7 { width:58.33333333%;}
  .col-sm-6 { width:50%;}
  .col-sm-5 { width:41.66666667%;}
  .col-sm-4 { width:33.33333333%;}
  .col-sm-3 { width:25%;}
  .col-sm-2 { width:16.66666667%;}
  .col-sm-1 { width:8.33333333%; }
}
*/

@media (min-width:992px) {
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
  .col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 { float:left; }
.col-md-12 { width:100%;}
.col-md-11 { width:91.66666667%;}
.col-md-10 { width:83.33333333%;}
.col-md-9 { width:75%;}
.col-md-8 { width:66.66666667%;}
.col-md-7 { width:58.33333333%;}
.col-md-6 { width:50%;}
.col-md-5 { width:41.66666667%;}
.col-md-4 { width:33.33333333%;}
.col-md-3 { width:25%;}
.col-md-2 { width:16.66666667%;}
.col-md-1 { width:8.33333333%; }
}
@media (min-width:1200px) {
  .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
  .col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 { float:left;}
  
  .col-lg-12 { width:100%;}
  .col-lg-11 { width:91.66666667%;}
  .col-lg-10 { width:83.33333333%;}
  .col-lg-9 { width:75%;}
  .col-lg-8 { width:66.66666667%;}
  .col-lg-7 { width:58.33333333%;}
  .col-lg-6 { width:50%;}
  .col-lg-5 { width:41.66666667%;}
  .col-lg-4 { width:33.33333333%;}
  .col-lg-3 { width:25%;}
  .col-lg-2 { width:16.66666667%;}
  .col-lg-1 { width:8.33333333%; }
}

.row:before,.row:after { content:" "; display:table; }
.row:after { clear:both; }
.pt-container { margin:0 -15px; }
.pt-container:before,.pt-container:after { content:" "; display:table; }
.pt-container:after { clear:both; }
 
.pricing-table {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  line-height: 1.5;
  overflow: hidden;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
@media (min-width:992px) {
  .pricing-table { margin: 0px -15px 10px; }
}
.pricing-table.active {
  z-index:2;
  border:2px solid #8ab71b;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
@media (min-width:992px) {
  .pricing-table.active { position:absolute; top:-22px; width:100%; }
}
.pricing-table.active .pt-title { background-color:#fbfbfb; }
@media (min-width:992px) { 
  .pricing-table.active .pt-title {padding-top:40px;}
}

.pricing-table.active .pt-footer { background-color:transparent; }
@media (min-width:992px) {
  .pricing-table.active .pt-ribbon-wrapper { width:115px; height:115px; }
  .pricing-table.active .pt-ribbon-wrapper .pt-ribbon { top:11px; left:-12px; }
}
@media (min-width:992px) {
  .pricing-table.active:hover {
    -webkit-transform:translate(0,-5px);
    -ms-transform:translate(0,-5px);
    transform:translate(0,-5px)
  }
}

.pricing-table:hover { border-color:#8ab71b; }
.pricing-table:hover .pt-title { color:#fff; background-color:#8ab71b; }
.pricing-table:hover .pt-ribbon-wrapper .pt-ribbon { background:#fff; color:#8ab71b; }
.pt-header { position:relative; background-color:#fff; text-align:center; }
.pt-header .pt-ribbon-wrapper {
  position:absolute;
  top:0;
  right:0;
  overflow:hidden;
  width:80px;
  height:80px
}
.pt-header .pt-ribbon-wrapper .pt-ribbon {
  position:relative;
  height:40px;
  top:0;
  left:-32px;
  width:180px;
  background-color:#8ab71b;
  color:#fff;
  font-size:14px;
  font-weight:400;
  text-transform:uppercase;
  line-height:40px;
  -webkit-transform:rotate(40deg);
  -ms-transform:rotate(40deg);
  transform:rotate(40deg)
}
.pt-header .pt-title {
  margin:0;
  padding:20px 0;
  background-color:#fbfbfb;
  color:#505050;
  font-size:18px;
  text-transform:uppercase;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
.pt-header .pt-price {
  margin:0;
  padding:15px 0;
  font-family:Georgia,sans-serif;
  color:#505050;
  font-size:48px
}
.pt-header .pt-price .pt-currency {
  color:#505050;
  font-size:24px;
  font-weight:400
}

.pt-header .pt-price .pt-per {
  position:relative;
  top:2px;
  left:8px;
  color:#909090;
  font-size:16px;
  font-weight:400;
  text-transform:lowercase
}
.pt-header .pt-description {
  margin:0 0 20px;
  padding:0 30px;
  color:#505050;
  font-weight:500
}
.pt-description {
  height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.pt-body {
  padding:0 30px;
  background-color:#fff;
  font-size:16px;
  color:#505050;
  text-align:center
}
 
.pt-body.hover .pt-row {
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
.pt-body.hover .pt-row:hover {
  background-color:#fbfbfb;
  color:#505050;
  font-weight:400
}
 
.pt-body .pt-row {
  padding:15px 0;
  background-color:#fff;
  border-top:1px dashed #e0e0e0
}
.pt-body .pt-row .pt-row-icon {
  font-size:12px;
  margin-right:5px
}
.pt-body .pt-row .pt-row-icon.ok { color:#80a32d; }
.pt-body .pt-row .pt-row-icon.remove { color:#e66946; }
.pt-body .pt-row span { display: inline-block; width: 20px; margin-left: 5px; }

.pt-footer { padding:30px 50px; background-color:transparent; }
.pt-footer .pt-button {
  background-color:#8ab71b;
  border:2px solid #8ab71b;
  color:#fff;
  text-align:center;
  font-size:16px;
  text-decoration:none;
  padding:10px 0;
  display:block;
  min-width:100%;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out
}
.pt-footer .pt-button.rounded { border-radius:5px; }
.pt-footer .pt-button.pill { border-radius:36px; }
.pt-footer .pt-button:hover {
  color:#88aa2e;
  text-decoration:none;
  background-color:transparent;
  border:2px solid #8ab71b
}
.blue .pricing-table.active { border:2px solid #2e3138; }
.blue .pricing-table:hover { border-color:#2e3138; }
.blue .pricing-table:hover .pt-title { background-color:#2e3138; }
.blue .pricing-table:hover .pt-ribbon-wrapper .pt-ribbon { background:#fff; color:#2e3138; }
.blue .pt-header .pt-ribbon-wrapper .pt-ribbon { background-color:#2e3138; }
.blue .pt-footer .pt-button { background-color:#2e3138; border:2px solid #2e3138; }
.blue .pt-footer .pt-button:hover { background-color:transparent; color:#2e3138; }
.pricing-table.blue.active { border:2px solid #2e3138; }
.pricing-table.blue:hover  { border-color:#2e3138; }
.pricing-table.blue:hover .pt-title { background-color:#2e3138; }
.pricing-table.blue:hover .pt-ribbon-wrapper .pt-ribbon { background:#fff; color:#2e3138; }
.pricing-table.blue .pt-header .pt-ribbon-wrapper .pt-ribbon { background-color:#2e3138; }
.pricing-table.blue .pt-footer .pt-button { background-color:#2e3138; border:2px solid #2e3138; }
.pricing-table.blue .pt-footer .pt-button:hover { background-color:transparent; color:#2e3138; }
.pricing-table.blue:hover .pt-header .pt-ribbon-wrapper .pt-ribbon { background-color:#fff; color:#2e3138; }
.light-blue .pricing-table.active { border:2px solid #2aa1d3; }
.light-blue .pricing-table:hover { border-color:#2aa1d3; }
.light-blue .pricing-table:hover .pt-title { background-color:#2aa1d3; }
.light-blue .pricing-table:hover .pt-ribbon-wrapper .pt-ribbon { background:#fff; color:#2aa1d3; }
.light-blue .pt-header .pt-ribbon-wrapper .pt-ribbon {
  background-color:#2aa1d3
}
.light-blue .pt-footer .pt-button {
  background-color:#2aa1d3;
  border:2px solid #2aa1d3
}
.light-blue .pt-footer .pt-button:hover {
  background-color:transparent;
  color:#2aa1d3
}
.pricing-table.light-blue.active {
  border:2px solid #2aa1d3
}
.pricing-table.light-blue:hover {
  border-color:#2aa1d3
}
.pricing-table.light-blue:hover .pt-title {
  background-color:#2aa1d3
}
.pricing-table.light-blue:hover .pt-ribbon-wrapper .pt-ribbon {
  background:#fff;
  color:#2aa1d3
}
.pricing-table.light-blue .pt-header .pt-ribbon-wrapper .pt-ribbon {
  background-color:#2aa1d3
}
.pricing-table.light-blue .pt-footer .pt-button {
  background-color:#2aa1d3;
  border:2px solid #2aa1d3
}
.pricing-table.light-blue .pt-footer .pt-button:hover {
  background-color:transparent;
  color:#2aa1d3
}
.pricing-table.light-blue:hover .pt-header .pt-ribbon-wrapper .pt-ribbon {
  background-color:#fff;
  color:#2aa1d3
}