.impowerBox .qrcode { width: 144px; }
.impowerBox .title  {display: none; }
.impowerBox .info   { width: 144px; display: none;}
.status_icon { display: none }
.impowerBox .status { text-align: center; } 